@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen {
  html {
    --minFontSize: 10px;
    --maxFontSize: 16px;
    --scaler: 0.9vw;
    font-size: max(var(--minFontSize), min(var(--scaler), var(--maxFontSize)));
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
